.form-container{
    width:clamp(400px,60%,800px);
    display:flex;
    min-height:70vh;
    padding:2rem;
    flex-direction:column;
    border-radius:1rem;
    box-shadow: 5px 10px 10px #888888;
    margin: 5rem;
    
    align-items:center;
    
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.form-control{
    width:20rem;
}